@font-face {
    font-family: "Barbarian";
    src: url('Barbarian.ttf');
}
html, body {
	width:100%;
	height:98.3%;
	overflow: none;
	margin:0px;
	padding:0px;	
	font-family: arial;
    background: #383838;
}
.titre-login
{
	font-family: "Barbarian";
	font-size:35px;
	font-weight: bold;
}
#login
{
	position:absolute;
	width:320px;
	height:230px;
	margin-left:50%;
	left:-150px;
	margin-top:200px;
	border:1px solid black;
	background:white;
	border-radius: 6px;
}
table, tr, th, td 
{
    border-collapse:collapse; 
}
th, button
{
    background: #d4d4d4;
}
button{
    cursor:pointer;
}
label.base
{
	display:inline-block;
	width: 125px;	
	margin-bottom: 10px;
}
#HE-manager
{
    width: 600px;
    height: 528px;    
    margin-left: calc(50% - 300px);    
    margin-top: 10%;    
    border: 3px solid black; 
    border-radius: 5px;   
}
#HE-manager-menu
{
    background: #d4d4d4;
    cursor:move;  
}
#HE-manager-splash
{
    width: 100%;
    height: 150px;
    background: white;    
    background-size: 100% 100%;
    border-top: 1px solid black; 
    border-bottom: 1px solid black; 
}
#HE-manager-onglet
{
    width: 100%;
    height: 280px;
    display:block;
    border:none;
    margin:0px;
    padding:0px;
}
#HE-manager-content-projet
{
    width: 98.5%;
    height: 220px;
    margin:5px;
    padding:0px;    
}
#HE-manager-control
{
    width: 100%;
    height: 30px;        
    text-align: right; 
    background: white; 
    border-top: 1px solid black;  
    padding-top: 5px;
}
#HE-manager-content-outils
{
    width: 100%;
    height: 100%;
}
#HE-manager-version
{
    height:20px;       
    border-top: 1px solid black;
    background: #d4d4d4;  
}
.ui.segment:last-child {
	margin-bottom: 0;
}	
.ui.segment:first-child {
	margin-top: 0;
}	
.ui.segment {	
	background-color: #fff;
	box-shadow: 0 0 0 1px rgba(39,41,43,.15), 0 1px 2px 0 rgba(0,0,0,.05);
	margin: 1rem 0;
	padding: 1em;
	border-radius: .2857rem;
	border: none;
	height: 100%;
}	
.ui.divider:not(.vertical):not(.horizontal) {
	border-top: 1px solid rgba(0,0,0,.1);
	border-bottom: 1px solid rgba(255,255,255,.2);
}	
.ui.divider {
	font-size: 1rem;
}	
.ui.divider {
	margin: 1rem 0;
	line-height: 1;
	height: 0;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: .05em;
	color: rgba(0,0,0,.85);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
}	