body, html {
	margin:0px;
	padding:0px;
	width:100%;
	height:100%;
	overflow:hidden;
}	
.dropper {	 		  
	-moz-transition: all 200ms linear;
	-webkit-transition: all 200ms linear;
	-o-transition: all 200ms linear;
	transition: all 200ms linear;
}
.drop_hover {
	-moz-box-shadow: 0 0 30px rgba(0, 0, 0, 0.8) inset;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.8) inset;
}
.draggable {	
	cursor: move;	  
	-moz-transition: all 200ms linear;
	-webkit-transition: all 200ms linear;
	-o-transition: all 200ms linear;
	transition: all 200ms linear;	  
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}  
input, select, button, textarea {
	background: #1f4d5e;
	color:white;
	border:1px solid white;
}
span {
	color: white;
}
progress[value] {color:red} /* IE10 */
progress::-webkit-progress-bar-value {background-color:red}
progress::-webkit-progress-value {background-color:red}
progress::-moz-progress-bar {background-color:red}