@font-face {
    font-family: "Barbarian";
    src: url('Barbarian.ttf');
}
html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;	
	font-family: arial;
    background: #383838;
	color: white;
}
.titre
{
	font-family: "Barbarian";
	font-size:30px;
	font-weight: bold;
}
.titre-small
{
	font-family: "Barbarian";
	font-size:20px;
	font-weight: bold;
}
#menu-left
{
	background: transparent;
	float: left;
	width: 280px;
	height: 100%;
	color: white;
}
#content-menu
{
	margin-left:10px;
}
#content
{
	background: #f1f2f3;
	float: left;
	width: calc(100% - 280px);
	height: 95%;
	color: black;
	overflow-y: auto;
}
#preambule, #licence, #configuration, #admin, #finalisation
{
	width: calc(100% - 100px);
	margin-left: 50px;	
}
h1
{
	padding: 10px;
    border-bottom: 2px solid #BBBBBB;
	color: #484848;
}
h2
{
	color: #555555;
}
h3
{
	color: white;
	background: #333333;
	height: 30px;
}
.button-control
{
	background: white;
	width: 100px;
	height: 30px;	
}
#licence-block
{
	width: 99%;
	height: 350px;
	background: white;
	border: 1px solid #dfdfdf;
	overflow-y: auto;
}
label.config
{
	display:inline-block;
	width: 350px;
	margin-right: 10px;
	margin-bottom: 10px;
	color: #262626;
	background:white;
}
.yes 
{
	display:inline-block;
	background:green;
	width:150px;
	text-align:center;
}
.no 
{
	display:inline-block;
	background:red;
	width:150px;
	text-align:center;
}