/*
Global
*/
@font-face {
    font-family: "Barbarian";
    src: url('../../../Styles/Barbarian.ttf');
}
body {
	width: 99.8%;
	height: 100%;
	background-color: white;
	font-family: 'Open Sans', sans-serif;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	position: fixed;
	line-height: 15px;
	font-size: 15px;
}
table, tr, th, td
{
    border-collapse: collapse;
}
form, input {
	margin: 0px;
	padding: 0px;
	display: inline;
}
button, input[type="button"], input[type="submit"]
{
	cursor: pointer;
	white-space: nowrap;
	direction: ltr;
	overflow: hidden;
}

#renderCanvas {
	width: 100%;
	height: 100%;
	touch-action: none;
	z-index: 1;
	background-color: #6394ed;
}
#barre_bottom
{
	width: 100%;
	height: 10px;
	bottom: 30px;
	position: absolute;
	text-align: center;
}
#version
{
	position: absolute;
	top: 6px;
	right: 10px;
	color: white;
}
#version > a
{
	color: white;
}
#version > a: hover
{
	color: red;
}
label.base
{
	display: inline-block;
	width: 125px;
	margin-bottom: 10px;
}
a {
	text-decoration: none;
}
input[type=submit], input[type=button]: not(.ui-button), button: not(.ui-button), submit[type=submit]
{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding-left: 6px;
	padding-right: 6px;
	border: 1px solid #333;
	border-top: 1px solid #333;
	border-left: 1px solid #333;
	height: 22px;
	background: -moz-linear-gradient(top, rgba(223,228,229,1) 0%, rgba(245,248,251,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(223,228,229,1) 0%,rgba(245,248,251,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(223,228,229,1) 0%,rgba(245,248,251,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#dfe4e5', endColorstr='#f5f8fb',GradientType=0 ); /* IE6-9 */
	font-size: 14px;
	color: black;
}
input[type=submit]: hover, input[type=button]: hover, button: hover: not(.ui-button), submit[type=submit]: hover
{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding-left: 6px;
	padding-right: 6px;
	border: 1px solid #333;
	border-top: 1px solid #333;
	border-left: 1px solid #333;
	height: 22px;
	background: -moz-linear-gradient(top, rgba(223,228,229,1) 0%, rgba(245,248,251,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(223,228,229,1) 0%,rgba(245,248,251,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(223,228,229,1) 0%,rgba(245,248,251,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#dfe4e5', endColorstr='#f5f8fb',GradientType=0 ); /* IE6-9 */
	font-size: 14px;
}
input[type=submit]: disabled, input[type=button]: disabled, button: disabled: not(.ui-button), submit[type=submit]: disabled
{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding-left: 6px;
	padding-right: 6px;
	border: 1px solid #333;
	border-top: 1px solid #333;
	border-left: 1px solid #333;
	height: 22px;
	background: -moz-linear-gradient(top, rgba(223,228,229,1) 0%, rgba(245,248,251,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(223,228,229,1) 0%,rgba(245,248,251,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(223,228,229,1) 0%,rgba(245,248,251,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#dfe4e5', endColorstr='#f5f8fb',GradientType=0 ); /* IE6-9 */
	font-size: 14px;
}
.tooltip {
	opacity: 1.0;
	filter: alpha(opacity=100);
	border-radius: 10px;
}
/*
Project
*/
#HE-GE-onglet
{
	margin: 0px;
	padding: 0px;
}
label.projet
{
	display: inline-block;
	width: 220px;
	margin-right: 10px;
	margin-bottom: 10px;
}
div.splash
{
	background-image: url(../../../splash-default.png);
	background-size: 600px 240px;
	background-repeat: no-repeat;
	width: 600px;
	height: 240px;
	margin: auto;
}
div.SplashScreen {
	width: 100%;
	height: 100%;
	background-color: #383838;
	z-index: 99;
	position: absolute;
}
div.Frame_SplashScreen {
	width: 800px;
	height: 600px;
	background: black;
	color: white;
	z-index: 100;
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-moz-box-shadow: 2px 2px 10px 0px #656565;
	-webkit-box-shadow: 2px 2px 10px 0px #656565;
	-o-box-shadow: 2px 2px 10px 0px #656565;
	box-shadow: 2px 2px 10px 0px #656565;
	filter: progid: DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=10);
}
div.Frame_SplashScreen img.splash {
	margin: 50px 0 50px 0;
}
/*
Medias
*/
.HE-liste-media
{
	width: 365px;
	height: 100%;
	float: left;
}
.HE-display-media
{
	float: left;
	width: calc(100% - 400px);	
	height: 100%;
	margin-left: 20px
}
#HE-canvas-media
{
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	touch-action: none;
	background-color: #6394ed;
}
#HE-canvas-media-image
{
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	touch-action: none;
	background-color: #6394ed;
}
/*
Actors
*/
label.actor
{
	display: inline-block;
	width: 160px;
	margin-right: 10px;
	margin-bottom: 10px;
}
.selectable .ui-selecting { background: #FECA40; }
.selectable .ui-selected { background: #F39814; color: white; }
.selectable { margin: 0; padding: 0; width: 100%; }
.selectable li { margin-left: 15px; padding: 2px; font-size: 10px; height: 10px; }

#HE-canvas-appercu-actor
{
	width: 100%;
	margin: 0px;
	padding: 0px;
	touch-action: none;
	background-color: #6394ed;
}
label.big
{
	display: inline-block;
	width: 215px;
	margin-right: 5px;
	margin-bottom: 10px;
}
#HE-canvas-apercu-images
{
	margin-top: 5px;
	border: 1px solid black;
	width: 200px;
	height: 200px;
	touch-action: none;
	z-index: 1;
	background-color: #6394ed;
}
#HE-canvas-apercu-meshes
{
	margin-top: 5px;
	border: 1px solid black;
	width: 200px;
	height: 200px;
	touch-action: none;
	z-index: 1;
	background-color: #6394ed;
}

/*
	Articles
*/
#HE-canvas-scene-article
{
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	touch-action: none;
	background-color: #6394ed;
}

/*
	Annimation
*/
#HE-canvas-apercu-animation
{
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	touch-action: none;
	background-color: #6394ed;
}

/*
	Particle
*/
#HE-canvas-particle
{
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	touch-action: none;
	background-color: #6394ed;
	z-index: 1;
}
#fps_particle, #stats_particle
{
	position: absolute;
    color: white;
	text-align: right;
	z-index: 2;
}
#fps_particle {
    font-size: 18px;
}

#stats_particle {
    font-size: 14px;
}
/*
	Particle solide
*/
#HE-canvas-particleSolide
{
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	touch-action: none;
	background-color: #6394ed;
	z-index: 1;
}
#fps_particleSolide
{
	position: absolute;
    color: white;
	text-align: right;
	z-index: 2;
}
#fps_particleSolide {
    font-size: 18px;
}
/*
Scripts
*/
.margeLeft
{
	width: 250px;
	height: 22px;
}
.CodeMirror-focused .cm-matchhighlight {
	background-position: bottom;
	background-repeat: repeat-x;
}
.cm-matchhighlight {
	background-color: lightgreen;
}
.CodeMirror-selection-highlight-scrollbar {
	background-color: green;
}
/*
Items
*/
label.item
{
	display: inline-block;
	width: 175px;
	margin-right: 5px;
	margin-bottom: 10px;
}

/*
Zones
*/
.ui-dialog {
    position: fixed;
}

.header, .footer {
    background-color: white;
    color: #888;
    width: 99.8%;
    height: 46px;
    padding: 0px;
    margin: 0px;
    border: 2px solid #666666;
}
legend.toolbar-legend
{
	font-size: 12px;
	color: #aaaaaa;
}
#HE-canvas-scene
{
	width: 100%;
	height: 100%;
	touch-action: none;
	z-index: 1;
	background-color: #6394ed;
}
.title-panel
{
	background: #cccccc;
	width: 100%;
	height: 20px;
	position: absolute;
	border: outset 1px #8b8b8b;
}
label.dialog
{
	display: inline-block;
	width: 170px;
	margin-right: 5px;
	margin-bottom: 10px;
}
label.dialog-big
{
	display: inline-block;
	width: 320px;
	margin-right: 5px;
	margin-bottom: 10px;
}
#HE-canvas-apercu-media, #HE-canvas-apercu-media-image, #HE-appercu-meshes-for-screenshot, #HE-canvas-apercu-material
{
	margin-top: 5px;
	border: 1px solid black;
	width: 200px;
	height: 200px;
	touch-action: none;
	z-index: 1;
	background-color: #6394ed;
}
#custom-handle-radius, #custom-handle-hardness, #custom-handle-strength, #custom-handle-height, #custom-handle-scale
{
	width: 25px;
    text-align: center;
}
.slider
{
	width: 95%;
	margin-bottom: 7px;
}
.statScene
{
	z-index: 5;
	position: absolute;
	right: 15px;
	top: 30px;
	background-color: rgba(255, 255, 255, 0.5);
	padding: 5px;
	display: none;
}
/*
Propriétés grid
*/
.pgTable {
    border: solid 1px #8b8b8b;
    border-spacing: 0;
	width: 100%
}

#pgGroupRow {
    background-color: #d1d1d1;
	font-family: "Times New Roman", Serif;
}

.pgGroupCell {
    padding: 1px;
}

.pgRow{

}

.pgCell-left {
    border: dotted 1px #ccc;
    padding: 1px;
	width: 45%;
}
.pgCell-right {
    border: dotted 1px #ccc;
    padding: 1px;
	width: 55%;
}

.pgTooltip {
    margin-left: 5px;
}