<center>
<h1>Commande SSH with Putty</h1>
<b>Install Node :</b><br />
<br />
sudo apt-get install wget<br />
wget http://nodejs.org/dist/v0.12.18/node-v0.12.18.tar.gz<br />
tar xfz node-v0.10.22.tar.gz<br />
cd node-v0.12.18<br />
./configure<br />
make<br />
make install<br />
<br />
<b>Install Redis server :</b><br />
<br />
sudo apt-get install redis-server<br />
<br /> 
<!--
<b>Modules to install :</b><br />
<br />
npm install cluster<br />
npm install express<br />
npm install ent<br />
npm install fs<br />
npm install socket.IO<br />
npm install socket.io-redis<br />
<br />
-->
<b>Start nodeJS :</b><br />
<br />
npm install forever -g (forever start server.js)<br />
</center>