.bt-start-serveur 
{	
	margin-top:15px;
	width: 260px;
	height:60px;
	background-color:#148252;
	color:white;
	font-size:1.5em;
	border:1px solid #148252;
	-webkit-box-shadow: 0px 0px 20px #000;
	-moz-box-shadow: 0px 0px 20px #000;
	box-shadow: 0px 0px 20px #000;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	display:block;
	cursor:pointer;
}
.bt-start-serveur > span
{
	margin-left:35px;
}
.bt-stop-serveur
{
	width: 260px;
	height:60px;
	background-color:#a53039;
	color:white;
	font-size:1.5em;
	border:1px solid #a53039;
	-webkit-box-shadow: 0px 0px 20px #000;
	-moz-box-shadow: 0px 0px 20px #000;
	box-shadow: 0px 0px 20px #000;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	display:block;
	cursor:pointer;
}
#panel-stop-serveur
{
	display:none;
}
.bt-stop-serveur > span
{
	margin-left:35px;	
}
#panel-left
{
	float:left;
	display:inline;	
}
#panel-right
{
	position:absolute;
	margin-left:270px;
	margin-top: 20px;
}
.bt-user
{
	width:180px;
	margin-right:6px;
	margin-bottom:6px;
	background-color:#d1d1d1;
	border:1px solid #b7b7b7;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	cursor:pointer;
}
#block-bt-user
{
	margin-top:80px;
	display: block;
	position:absolute;
}