body {	
	width:100%;
	height:100%;
	background-color:white;
	font-family: 'Open Sans', sans-serif;	
	margin: 0px;
	padding:0px;
	overflow: hidden;
	position:fixed;
}
#renderCanvas {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding:0px;
	touch-action: none;
	z-index:1;
	background-color:#6394ed;
}
.tooltip {
	opacity:1.0;
	filter:alpha(opacity=100);
	border-radius: 10px;
}
.menu {
	width: 330px;
	height: 99.5%;
	border: 1px solid black;
	display: inline-block;	
	vertical-align: top;
	margin: 0px;
}
.tools
{
	width: 100%;
	height: 45px;
	border-bottom: 1px solid black;
	vertical-align: top;
	background-color:#c3c3c3;
}
.button-tools
{
	width:32px;
	height:32px;
	margin-top:4px;
	cursor:pointer;
}
.content-tools
{
	width: 100%;
	height: 100%;
}
.content-canvas
{
	width: calc(100% - 340px);
	height: 99.5%;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	display: inline-block;
	margin: 0px;
	padding:0px;
}
.tools-canvas
{
	width: 100%;
	height: 45px;
	border: 1px solid black;
	background-color:#c3c3c3;	
}
.tools-canvas-content {
	width: 99.8%;
	height: calc(100% - 50px);
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	display: inline-block;
	margin: 0px;
	padding:0px;	
}